<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Maximuspoder\Banner\Model\Data\BannerRepositoryInterface" type="Maximuspoder\Banner\Model\BannerRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banners_grid_data_source" xsi:type="string">Maximuspoder\Banner\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>